In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st
import numpy as np

In [16]:
#read data from conpressed file
vehicle_data = pd.read_csv("vehicle_data.csv.gz",
               compression="gzip")

#strip extra spaces in field
vehicle_data['fuel_type'].str.rstrip().astype(str)
vehicle_data['elec_hybrid']= vehicle_data['fuel_type'].isin(['ELECTRIC','NONE','OTHER'])

In [17]:
vehicle_data

,vin,registration_class,zip,model_year,body_type,fuel_type,elec_hybrid
0,999407G3573,PAS,12866,1976,SUBN,GAS,False
1,9992313,PAS,13316,1924,CONV,GAS,False
2,998867,PAS,11501,1952,2DSD,GAS,False
3,9983692,PAS,10940,1936,2DSD,GAS,False
4,99782010525,PAS,11225,1978,2DSD,GAS,False
...,...,...,...,...,...,...,...
9375975,AAAAAAKE201612240,PAS,14621,1973,2DSD,GAS,False
9375976,,PAS,14120,1941,4DSD,GAS,False
9375977,,SRF,10580,1967,2DSD,GAS,False
9375978,,PAS,14047,1958,CONV,GAS,False
9375979,,SRF,14127,1948,2DSD,GAS,False

In [5]:
#Define classes
#ELEC = ['ELECTRIC'or 'NONE'or'OTHER']
vehicle_data['fuel_class'] = 'test'
vehicle_data

#np.where(vehicle_data['fuel_type'] in ELEC, 'Electric', 'Standard')

# fuel_df = vehicle_data
# fuel_df['fuel_type']= fuel_df.set_index(fuel_df['fuel_type']).index.map(fuel_df).set_index

,vin,registration_class,zip,model_year,body_type,fuel_type,fuel_class
0,999407G3573,PAS,12866,1976,SUBN,GAS,test
1,9992313,PAS,13316,1924,CONV,GAS,test
2,998867,PAS,11501,1952,2DSD,GAS,test
3,9983692,PAS,10940,1936,2DSD,GAS,test
4,99782010525,PAS,11225,1978,2DSD,GAS,test
...,...,...,...,...,...,...,...
9375975,AAAAAAKE201612240,PAS,14621,1973,2DSD,GAS,test
9375976,,PAS,14120,1941,4DSD,GAS,test
9375977,,SRF,10580,1967,2DSD,GAS,test
9375978,,PAS,14047,1958,CONV,GAS,test
9375979,,SRF,14127,1948,2DSD,GAS,test

In [ ]:
vehicle_df = vehicle_data
vehicle_df['fuel_class'] = fuel_class
vehicle_df

In [ ]:
# #sort by zip and type
# fuel_df = pd.DataFrame(vehicle_df.groupby(['zip','fuel_type']).size())

# #rename columns
# fuel_df.rename(columns = {'zip':'Zip_Code', 'fuel_type':'Fuel_Type', 0:'Number_of_Vehicles'}, inplace = True)

In [ ]:
#values for fuel Type
vehicle_df['fuel_type'].unique()

In [ ]:
#define Values for vehicle types
std_veh = ['GAS','DIESEL','FLEX','PROPANE']
hybrid_veh = ['ELECTRIC', 'NONE', 'OTHER']

In [ ]:
#Create Column for vehicle Type
vehicle_type_df = pd.DataFrame(vehicle_df) 

for row in vehicle_type_df:
    if vehicle_type_df['fuel_type']== [std_veh]:
        vehicle_type_df['class'].append = 'standard'
    elif vehicle_type_df['fuel_type']== 'ELECTRIC':
        vehicle_type_df['class'].append = 'Elec/Hybrid'
    else:
        pass


#vehicle_type_df['class'] = veh_age_2009
#new_vehicle_2009_df.head()

In [ ]:
#Add AQI data
aqi_df = pd.read_csv("AQIndex2020.csv", index_col=0)
aqi_df

In [ ]:
#merge data based on zip