In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st
import numpy as np

In [2]:
#read data from conpressed file
vehicle_data = pd.read_csv("vehicle_data.csv.gz",
               compression="gzip")

#strip extra spaces in field
vehicle_data['fuel_type'].str.rstrip().astype(str)
vehicle_data['elec_hybrid']= vehicle_data['fuel_type'].isin(['ELECTRIC','NONE','OTHER'])
vehicle_data

,vin,registration_class,zip,model_year,body_type,fuel_type,elec_hybrid
0,999407G3573,PAS,12866,1976,SUBN,GAS,False
1,9992313,PAS,13316,1924,CONV,GAS,False
2,998867,PAS,11501,1952,2DSD,GAS,False
3,9983692,PAS,10940,1936,2DSD,GAS,False
4,99782010525,PAS,11225,1978,2DSD,GAS,False
...,...,...,...,...,...,...,...
9375975,AAAAAAKE201612240,PAS,14621,1973,2DSD,GAS,False
9375976,,PAS,14120,1941,4DSD,GAS,False
9375977,,SRF,10580,1967,2DSD,GAS,False
9375978,,PAS,14047,1958,CONV,GAS,False
9375979,,SRF,14127,1948,2DSD,GAS,False

In [3]:
#Import AQI
aqi_df = pd.read_csv("AQIndex.csv", index_col=0)
aqi_df.head()

     zip  AQI  Category Number Category Name Pollutant  Year
0  12032   90                2      Moderate     OZONE  2009
1  12108   90                2      Moderate     OZONE  2009
2  12134   90                2      Moderate     OZONE  2009
3  12139   90                2      Moderate     OZONE  2009
4  12164   90                2      Moderate     OZONE  2009

In [4]:
#Get Vehicle Data and AQI Data
veh_2009 = vehicle_data.loc[vehicle_data['model_year'].astype(int) <= 2009]

#2015
veh_2015 = vehicle_data.loc[vehicle_data['model_year'].astype(int) <= 2015]

#2020
veh_2020 = vehicle_data.loc[vehicle_data['model_year'].astype(int) <= 2020]

In [5]:
#Seperate Data on Fuel Type 2009
elec_09 = veh_2009.loc[veh_2009['elec_hybrid'] == True]
std_09 = veh_2009.loc[veh_2009['elec_hybrid'] == False]

#Rename Columns replace value
elec_09 = elec_09.rename(columns={"elec_hybrid": "Green"})
elec_09['Green'] =  1
elec_09['Green'].replace(np.nan,0)

std_09 = std_09.rename(columns={"elec_hybrid": "Standard"})
std_09['Standard'] = 1
std_09['Standard'].replace(np.nan,0)

#group by
new_elec_09 = elec_09.groupby('zip').agg({'Green':'size'})
new_std_09 = std_09.groupby('zip').agg({'Standard':'size'})

#Merge the 2009 data sets
df_2009 = pd.merge(new_elec_09, new_std_09, on=['zip'], how="left" )
df_2009.replace(np.nan,0)

       Green  Standard
zip
10007      2       250
10019      1      1196
10023      1      2207
10032      1      2510
10036      3      1257
...      ...       ...
14532      1      1086
14534      1      5061
14541      1       524
14850      4      8104
14870      1      1990

[65 rows x 2 columns]

In [6]:
#Seperate Data on Fuel Type 2009
elec_15 = veh_2015.loc[veh_2015['elec_hybrid'] == True]
std_15 = veh_2015.loc[veh_2015['elec_hybrid'] == False]

#Rename Columns replace value
elec_15 = elec_15.rename(columns={"elec_hybrid": "Green"})
elec_15['Green'] =  1
elec_15['Green'].replace(np.nan,0)

std_15 = std_15.rename(columns={"elec_hybrid": "Standard"})
std_15['Standard'] = 1
std_15['Standard'].replace(np.nan,0)

#group by
new_elec_15 = elec_15.groupby('zip').agg({'Green':'size'})
new_std_15 = std_15.groupby('zip').agg({'Standard':'size'})

#Merge the 2009 data sets
df_2015 = pd.merge(new_elec_15, new_std_15, on=['zip'], how="left" )
df_2015.replace(np.nan,0)

       Green  Standard
zip
1035       1       0.0
6831       1      67.0
6876       1       0.0
6880       1      12.0
7032       1      14.0
...      ...       ...
46037     11     403.0
46256      1     108.0
60062      2     285.0
88310      1       1.0
90069      1       9.0

[718 rows x 2 columns]

In [7]:
#Seperate Data on Fuel Type 2009
elec_20 = veh_2020.loc[veh_2020['elec_hybrid'] == True]
std_20 = veh_2020.loc[veh_2020['elec_hybrid'] == False]

#Rename Columns replace value
elec_20 = elec_20.rename(columns={"elec_hybrid": "Green"})
elec_20['Green'] =  1
elec_20['Green'].replace(np.nan,0)

std_20 = std_20.rename(columns={"elec_hybrid": "Standard"})
std_20['Standard'] = 1
std_20['Standard'].replace(np.nan,0)

#group by
new_elec_20 = elec_20.groupby('zip').agg({'Green':'size'})
new_std_20 = std_20.groupby('zip').agg({'Standard':'size'})

#Merge the 2009 data sets
df_2020 = pd.merge(new_elec_20, new_std_20, on=['zip'], how="left" )
df_2020.replace(np.nan,0)

       Green  Standard
zip
1035       1       0.0
2534       1       0.0
4107       1       0.0
6390       2     429.0
6437       1       3.0
...      ...       ...
90069      1      11.0
90211      1       3.0
90265      1       5.0
95687      1       6.0
98407      1       0.0

[1311 rows x 2 columns]

In [13]:
#Merge related AQI Data and drop unneeded columns

#2009
aqi_group = aqi_df.groupby('Year')
aqi_2009 = aqi_group.get_group(2009)
veh_aqi_2009 = pd.merge(aqi_2009, df_2009, on=['zip'], how="left" )

#veh_aqi_2009 = veh_aqi_2009.drop(columns =['Unnamed: 0','Category Number', 'Category Name','Pollutant']
fuel_aqi_2009 = veh_aqi_2009.dropna()

#2015
aqi_group = aqi_df.groupby('Year')
aqi_2015 = aqi_group.get_group(2015)
veh_aqi_2015 = pd.merge(aqi_2015, df_2015, on=['zip'], how="left" )

fuel_aqi_2015 = veh_aqi_2015.dropna()

#2020
aqi_group = aqi_df.groupby('Year')
aqi_2020 = aqi_group.get_group(2020)
veh_aqi_2020 = pd.merge(aqi_2020, df_2020, on=['zip'], how="left" )
fuel_aqi_2020 = veh_aqi_2020.dropna()

fuel_aqi_2020

SyntaxError: invalid syntax (<ipython-input-13-3604c40c04a6>, line 8)

In [ ]:
# #Add AQI data
# aqi_df = pd.read_csv("AQIndex2020.csv", index_col=1)
# aqi_df.replace(np.nan,0)

# #merge with above
# type_aqi_df = pd.merge(aqi_df, combined_df, on=['zip'], how = "left" )
type_aqi_df = type_aqi_df.drop(columns =['Unnamed: 0','Category Number', 'Category Name','Pollutant'])
# type_aqi_df

In [ ]:
fuel_aqi_df = type_aqi_df

fuel_aqi_df['Percent_Green']= (fuel_aqi_df['Green']/fuel_aqi_df['Standard'])

#clean Up formatting drop NaN rows
fuel_aqi_df['Percent_Green']= fuel_aqi_df['Percent_Green'].astype(float).astype(float).map("{:.2%}".format)
dropped_df = fuel_aqi_df.dropna()
dropped_df

In [ ]:
#zip code with largest concentration of green Vehicles
dropped_df['Percent_Green'].max()