In [21]:
# required dependencies
# pip install pandas
# pip install sodapy

import pandas as pd
from sodapy import Socrata


# authenticate API access
client = Socrata("data.ny.gov",
                  "SyN1ePhQ6paPSAYnSLjC3bRDy",
                  username="tsamson0@comcast.net",
                  password="Pizdik-punmuk-6suvqe")

# First 2000 results, returned as JSON from API / converted to Python list of
results = client.get("w4pv-hbkt", limit=2000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)
results_df.head()

,record_type,vin,registration_class,city,state,zip,county,model_year,make,body_type,fuel_type,unladen_weight,reg_valid_date,reg_expiration_date,color,scofflaw_indicator,suspension_indicator,revocation_indicator,maximum_gross_weight
0,VEH,9114109230,PAS,BEDFORD,NY,10506,WESTCHESTER,1961,CHRYS,4DSD,GAS,2424,2019-03-19T00:00:00.000,2021-06-16T00:00:00.000,PK,N,N,N,NaN
1,VEH,90736637,PAS,LITTLE FALLS,NY,13365,HERKIMER,1930,FORD,2DSD,GAS,2257,2019-05-15T00:00:00.000,2021-04-21T00:00:00.000,BK,N,N,N,NaN
2,VEH,9117600589,PAS,VALHALLA,NY,10595,WESTCHESTER,1977,PORSC,2DSD,GAS,2315,2019-09-23T00:00:00.000,2021-10-02T00:00:00.000,OR,N,N,N,NaN
3,VEH,9114110031,PAS,OYSTER BAY,NY,11771,NASSAU,1973,PORSC,2DSD,GAS,2500,2018-10-19T00:00:00.000,2020-10-18T00:00:00.000,OR,N,N,N,NaN
4,VEH,9111113261,PAS,BRONXVILLE,NY,10708,WESTCHESTER,1971,PORSC,2DSD,GAS,2238,2019-08-05T00:00:00.000,2021-09-10T00:00:00.000,GY,N,N,N,NaN