In [83]:
# required dependencies
# pip install pandas
# pip install sodapy

import pandas as pd
from sodapy import Socrata
from api_keys import soda_api_token
from api_keys import soda_username
from api_keys import soda_pwd

# authenticate API access
client = Socrata("data.ny.gov",
                  soda_api_token,
                  username = soda_username,
                  password = soda_pwd
                  )

results = client.get("w4pv-hbkt", registration_class = "PAS" or "SRF", limit= 10000000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)
results_df.count()

record_type             8454764
vin                     8454764
registration_class      8454764
city                    8454764
state                   8454764
zip                     8454764
county                  8454764
model_year              8454764
make                    8454764
body_type               8454764
fuel_type               8454764
unladen_weight          8454415
reg_valid_date          8454764
reg_expiration_date     8454764
color                   8454764
scofflaw_indicator      8454764
suspension_indicator    8454764
revocation_indicator    8454764
maximum_gross_weight        349
dtype: int64

In [85]:
#clean up data frame for only required columns for analysis
vehicle_df = results_df.drop(['unladen_weight', 'reg_valid_date', 'reg_expiration_date', 'maximum_gross_weight'], axis = 1) 
vehicle_df.head(20)
vehicle_df

,record_type,vin,registration_class,city,state,zip,county,model_year,make,body_type,fuel_type,color,scofflaw_indicator,suspension_indicator,revocation_indicator
0,VEH,999407G3573,PAS,SARATOGA SPRIN,NY,12866,SARATOGA,1976,LA/RO,SUBN,GAS,WH,N,N,N
1,VEH,9992313,PAS,CAMDEN,NY,13316,ONEIDA,1924,FORD,CONV,GAS,BK,N,N,N
2,VEH,998867,PAS,MINEOLA,NY,11501,NASSAU,1952,STUDE,2DSD,GAS,RD,N,N,N
3,VEH,9983692,PAS,MIDDLETOWN,NY,10940,ORANGE,1936,PACKA,2DSD,GAS,BK,N,N,N
4,VEH,99782010525,PAS,BROOKLYN,NY,11225,KINGS,1978,SAAB,2DSD,GAS,WH,N,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8454759,VEH,AAB1L751134,PAS,WEBSTER,NY,14580,MONROE,1967,MINI,CONV,GAS,GR,N,N,N
8454760,VEH,AABIL885096,PAS,SOUTHAMPTON,NY,11969,SUFFOLK,1967,AUSTI,CONV,GAS,TN,N,N,N
8454761,VEH,AAAAAAKE201612240,PAS,ROCHESTER,NY,14621,MONROE,1973,TOYOT,2DSD,GAS,OR,N,N,N
8454762,VEH,,PAS,N TONAWANDA,NY,14120,NIAGARA,1941,WILLY,4DSD,GAS,PR,N,N,N
8454763,VEH,,PAS,DERBY,NY,14047,ERIE,1958,BERKL,CONV,GAS,RD,N,N,N