In [2]:
# required dependencies
# pip install pandas
# pip install sodapy

import pandas as pd
from sodapy import Socrata
from api_keys import soda_api_token
from api_keys import soda_username
from api_keys import soda_pwd

# authenticate API access
client = Socrata("data.ny.gov",
                  soda_api_token,
                  username= soda_username,
                  password= soda_pwd)


results = client.get("w4pv-hbkt",
                     where = "registration_class = 'SRF' or registration_class ='PAS' or registration_class ='COM'",
                     limit=100000000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)
results_df.count()

record_type             9375980
vin                     9375980
registration_class      9375980
city                    9375980
state                   9375980
zip                     9375980
county                  9375980
model_year              9375980
make                    9375980
body_type               9375980
fuel_type               9375980
unladen_weight          8662921
reg_valid_date          9375980
reg_expiration_date     9375980
color                   9375980
scofflaw_indicator      9375980
suspension_indicator    9375980
revocation_indicator    9375980
maximum_gross_weight     713059
dtype: int64

In [3]:
vehicle_df = results_df.drop(columns =['unladen_weight', 'reg_valid_date',
                                       'reg_expiration_date', 'maximum_gross_weight',
                                      'record_type', 'county', 'make',
                                      'scofflaw_indicator', 'suspension_indicator',
                                      'revocation_indicator', 'color', 'state', 'city'])
vehicle_df

,vin,registration_class,zip,model_year,body_type,fuel_type
0,999407G3573,PAS,12866,1976,SUBN,GAS
1,9992313,PAS,13316,1924,CONV,GAS
2,998867,PAS,11501,1952,2DSD,GAS
3,9983692,PAS,10940,1936,2DSD,GAS
4,99782010525,PAS,11225,1978,2DSD,GAS
...,...,...,...,...,...,...
9375975,AAAAAAKE201612240,PAS,14621,1973,2DSD,GAS
9375976,,PAS,14120,1941,4DSD,GAS
9375977,,SRF,10580,1967,2DSD,GAS
9375978,,PAS,14047,1958,CONV,GAS
9375979,,SRF,14127,1948,2DSD,GAS

In [4]:
vehicle_df.to_csv("vehicle_data.csv.gz", 
           index=False, 
           compression="gzip")